iframe {
  width: 1000px;
  height: 600px; /* Adjust height as necessary */
}

.highlight .gp, .highlight .go {
  /* Generic.Prompt, Generic.Output */
  -webkit-user-select: none;
  user-select: none;
}

/* shell prompt */
.language-console .gp {
  font-weight: 800;
  -webkit-user-select: none;
  user-select: none;
}
.language-console .go {
  font-style: italic;
}
